<form-toolbar [title]="title" [editing]="editing" [searchForm]="searchForm" 
	          (onSearchFormSubmitEmitter)="onSearchFormSubmit()" (listDataEmitter)="listData()"
	          (listDataNoCacheEmitter)="listDataNoCache()"
	          [auditingExclusions]="auditingExclusions"
	          [enabledAuditList]="['admin_master'].includes(logged.category)"
	          (auditListEmitter)="auditList()" (normalListEmitter)="normalList()"
	          [disabledAddNew]="!(['admin_master'].includes(logged.category))"
	          (addObjectEmitter)="addObject()">
</form-toolbar>
 
<ng-template [ngIf]="editing" [ngIfElse]="listObjects">
	<rich-tab-bar [objects]="[
								   {value: '0', label: 'Imagem (*)', title: 'Imagem'},
								   {value: '1', label: 'Dados Gerais (*)', title: 'Dados Gerais'}
						      ]" 
			      [selectedTab]="tab" (setTabEmitter)="setTab($event)">
	</rich-tab-bar> 
	<section aria-label="cadastro e alteração dos temas da aplicação" class="dataForm">
		<form [formGroup]="dataForm" (ngSubmit)="onObjectFormSubmit()" class="dataForm">   	
			<div class="{{ tab == 0 ? '' : 'none' }}">
			    <rich-image-selector id="selectTheme" label="Imagem Para o Tema" emptyLabel="Selecione" 
				                     [oldSelectedObject]="atualImage"
					                 [selectedObject]="selectedImage" [objects]="themeimages" 
					                 [onlySelect]="true"
					                 (valueChangedEmitter)="setSelectedImage($event)">
				</rich-image-selector>
            </div>
			<div class="{{ tab == 1 ? '' : 'none' }}">	
				<rich-input-text [formGroup]="dataForm" label="Identificação (*)" 
            	                 titlee="Identificação" maxchars="30"
            	                 formControlName="name" widthPerc="60" ngDefaultControl>
                </rich-input-text>
                <rich-input-select label="Skin Default (*)" titlee="Skin Default" [objects]="themes" 
                                   formControlName="defaultTheme" widthPerc="39" ngDefaultControl>
                </rich-input-select>
                <rich-input-select label="Organização Layout (*)" titlee="Organização Layout" 
                                   [objects]="organizations" 
                                   formControlName="organization" widthPerc="99" ngDefaultControl>
                </rich-input-select>
                <rich-checkbox-multi breakBefore="true"
                                     label="Skins Selecionáveis" 
	                                 [objects]="themes" 
	                                 [selectedObjects]="selectedThemes" 
	                                 widthPerc="99" widthInput="10"
	                                 (valueChangedAddEmitter)="checkTheme($event)"
                                     (valueChangedRemoveEmitter)="uncheckTheme($event)">
                </rich-checkbox-multi>
            	<rich-input-text [formGroup]="dataForm" label="Altura Cab. (em) (*) (**)" 
            	                 titlee="Altura Cabeçalho (em)" 
            	                 maxchars="2" minValue="10" maxValue="20" forNumber="true"
            	                 formControlName="imageHeight" widthPerc="48" ngDefaultControl>
                </rich-input-text>
                <rich-input-select label="Posição X (*) (**)" titlee="Posição X" [objects]="positionsX" 
                                   formControlName="positionX" widthPerc="25" ngDefaultControl>
                </rich-input-select>
            	<rich-input-select label="Posição Y (*) (**)" titlee="Posição Y" [objects]="positionsY" 
                                   formControlName="positionY" widthPerc="25" ngDefaultControl>
                </rich-input-select>
            	<rich-input-text [formGroup]="dataForm" label="Largura (%) (*)" titlee="Largura (%)" 
            	                 maxchars="3" minValue="10" maxValue="100" forNumber="true"
            	                 formControlName="backgroundWidth" widthPerc="33" ngDefaultControl>
                </rich-input-text>
            	<rich-input-text [formGroup]="dataForm" label="Altura (%) (*)" titlee="Altura (%)" 
            	                 maxchars="3" minValue="10" maxValue="100" forNumber="true"
            	                 formControlName="backgroundHeight" widthPerc="33" ngDefaultControl>
                </rich-input-text>
                <rich-input-select label="Repetir? (*) (**)" titlee="Repetir?" [objects]="backgroundRepeats" 
                                   formControlName="backgroundRepeat" widthPerc="32" ngDefaultControl>
                </rich-input-select>
            	<div class="clear"></div>
        	</div>
            <form-action [validationMessages]="validationMessages" [processValidation]="processValidation"
                         (cancelDataEmitter)="cancelData()"
                         [additionalMsgsInfo]="formInfo">
            </form-action>
	    </form>
    </section>
</ng-template>

<ng-template #listObjects>
	<section aria-label="lista dos temas da aplicação">
		<table class="table" *ngIf="objects as listOfObject" mdbTable> 
	   		<thead class="black white-text">
	        	<tr>
	          		<th scope="col" style="width: auto;">Identificação</th>
	          		<th scope="col" style="width: 9em;" *ngIf="!auditingExclusions">Ações</th>
	          		<th scope="col" style="width: 5em;" *ngIf="auditingExclusions">Ações</th>
	        	</tr>
	     	</thead>
	     	<tbody>
	        	<tr mdbTableCol *ngFor="let apptheme of objects; trackBy: trackById">
	          		<td class="text" [innerHtml]="apptheme.name"></td>
	          		<td class="actions">
	          			<div class="buttons">
	            			<edit-delete-action [auditingExclusions]="auditingExclusions" [object]="apptheme" 
	            			                    [logged]="logged"
	        		       						[noAction]="!(['admin_master'].includes(logged.category))"
		       				                    [objectDeleteConfirmation]="objectDeleteConfirmation" 
		       		        		            [objectUnDeleteConfirmation]="objectUnDeleteConfirmation"
				       		                    [lockUnLock]="true"
				       		                    (lockEmitter)="lock($event)"
		       				                    (unlockEmitter)="unlock($event)"
		       		    		                [objectDetail]="objectDetail"
		       		            		        (showObjectEmitter)="showObject($event)"
							                    (editObjectEmitter)="editObject($event)"
					    		                (deleteObjectEmitter)="deleteObject($event)"
					            		        (unDeleteObjectEmitter)="unDeleteObject($event)">
							</edit-delete-action>
		      			</div>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td colspan="2" class="navigationBottom">
	        			<table-navigator [pages]="pages" [selectedPage]="selectedPage" 
					    	             [previousPageDisabled]="previousPageDisabled" 
					    	             [nextPageDisabled]="nextPageDisabled" 
						                 [rowsPerPage]="rowsPerPage" [totalPages]="totalPages" 
						                 [totalRows]="totalRows"
						                 (previousPageEmitter)="previousPage()" 
						                 (setPageEmitter)="setPage($event)"
						                 (nextPageEmitter)="nextPage()">
						</table-navigator>
	        		</td>
	      		</tr>
	      	</tbody>
		</table>
    </section>
</ng-template>

<ng-template #selectedObjectTemplate>
	<tr>
		<td class="text noBorderRight" colspan="4">
			<img [src]="atualImageLink" style="width: 100%; height: 10em; border: 0;"/>
		</td>
	</tr>
	<tr>
		<th scope="row" class="text" style="width: 8em;">Identificação:</th>
		<td class="text noBorderRight" colspan="3">{{selectedObject.name}}</td>
	</tr>
	<tr>
		<th scope="row" class="text">Skin Default:</th>
		<td class="text">{{ getLabelForKey(themes,selectedObject.defaultTheme) }}</td>
		<th scope="row" class="text" style="width: 7em;"
		    title="Organização Layout" aria-label="Organização Layout">Org. Layout:</th>
		<td class="text noBorderRight">{{ getLabelForKey(organizations,selectedObject.organization) }}</td>
	</tr>
	<tr>
		<th scope="row" class="text" 
		    title="Altura Cabeçalho" aria-label="Altura Cabeçalho">Altura Cab.:</th>
		<td class="text">{{selectedObject.imageHeight}}em</td>
		<th scope="row" class="text">Repetir?:</th>
		<td class="text noBorderRight">{{ getLabelForKey(backgroundRepeats,selectedObject.backgroundRepeat) }}</td>
	</tr>
	<tr>
		<th scope="row" class="text">Posição X:</th>
		<td class="text">{{ getLabelForKey(positionsX,selectedObject.positionX) }}</td>
		<th scope="row" class="text">Posição Y:</th>
		<td class="text noBorderRight">{{ getLabelForKey(positionsY,selectedObject.positionY) }}</td>
	</tr>
	<tr>
		<th scope="row" class="text">Largura:</th>
		<td class="text">{{selectedObject.backgroundWidth}}%</td>
		<th scope="row" class="text">Altura:</th>
		<td class="text noBorderRight">{{selectedObject.backgroundHeight}}%</td>
	</tr>
</ng-template>
	
<ng-template #objectDetail let-modal>
	<delete-confirmation label="Tema Aplicação" [selectedObject]="selectedObject" info="true" colspan="4"
	                     [templateOutlet]="selectedObjectTemplate" (cancelDataEmitter)="showObject()">
	</delete-confirmation>
</ng-template>

<ng-template #objectDeleteConfirmation let-modal>
	<delete-confirmation label="Tema Aplicação" [selectedObject]="selectedObject" colspan="4"
	                     [auditingExclusions]="auditingExclusions" [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>

<ng-template #objectUnDeleteConfirmation let-modal>
	<delete-confirmation label="Tema Aplicação" [selectedObject]="selectedObject" redo="true" colspan="4"
	                     [auditingExclusions]="auditingExclusions" [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmUnDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>