<div *ngIf="render && !dropdown" [class]="className" [style]="styleClass">
	<button class="btn btn-link" *ngIf="usePricingPolicy"
	        (click)="pricingPolicy()" tabIndex="0">Política de Preços</button>
	<button class="btn btn-link" *ngIf="useUsetermsPolicy"
	        (click)="userTerms()" tabIndex="0">Termos de Uso</button>
	<button class="btn btn-link" *ngIf="usePrivacityPolicy"
	        (click)="privacityPolicy()" tabIndex="0">Política de Privacidade</button>
	<button class="btn btn-link" *ngIf="useUsecontractPolicy"
	        (click)="useContract()" tabIndex="0">Contrato de Cliente</button>
</div>
<div *ngIf="render && dropdown" class="btn-group {{className}}" [style]="styleClass" ngbDropdown 
     role="group" aria-label="Políticas do Site" #drdPolitics="ngbDropdown">
    <button class="btn btn-outline-info" 
            ngbDropdownToggle 
            style="padding: 0; margin: 0.1em 0.1em 0 0.25em;" 
            tabIndex="0">
    	Políticas do Site
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
    	<button class="dropdown-item {{ mainpageNumber == 1 ? 'active' : '' }}" *ngIf="usePricingPolicy"
		        (click)="pricingPolicy(); drdPolitics.close();" tabIndex="0">Política de Preços</button>
		<button class="dropdown-item {{ mainpageNumber == 2 ? 'active' : '' }}" *ngIf="useUsetermsPolicy"
		        (click)="userTerms(); drdPolitics.close();" tabIndex="0">Termos de Uso</button>
		<button class="dropdown-item {{ mainpageNumber == 3 ? 'active' : '' }}" *ngIf="usePrivacityPolicy"
		        (click)="privacityPolicy(); drdPolitics.close();" tabIndex="0">Política de Privacidade</button>
		<button class="dropdown-item {{ mainpageNumber == 4 ? 'active' : '' }}" *ngIf="useUsecontractPolicy"
		        (click)="useContract(); drdPolitics.close();" tabIndex="0">Contrato de Cliente</button>
    </div>
</div>