<form-toolbar [title]="title" [editing]="editing" [searchForm]="searchForm" 
			  (onSearchFormSubmitEmitter)="onSearchFormSubmit()" (listDataEmitter)="listData()"
			  (listDataNoCacheEmitter)="listDataNoCache()"
			  [auditingExclusions]="auditingExclusions"
			  [enabledAuditList]="['admin_master','admin','system_auditor'].includes(logged.category)"
	          (auditListEmitter)="auditList()" 
	          (normalListEmitter)="normalList()"
	          [disabledAddNew]="false"
	          (addObjectEmitter)="addObject()">
</form-toolbar>

<ng-template [ngIf]="editing" [ngIfElse]="listObjects">
	<section aria-label="cadastro e alteracao de Custo Fixos" class="dataForm"> 
		<form [formGroup]="dataForm" (ngSubmit)="onObjectFormSubmit()">   	
			<div >	
				<rich-input-text [formGroup]="dataForm" 
				                 label="Identifica&ccedil;&atilde;o (*)" 
				                 titlee="Identifica&ccedil;&atilde;o"
				                 maxchars="250"
				                 formControlName="a1_name" 
				                 widthPerc="39" 
				                 placeholderr="" 
				                 ngDefaultControl>
				</rich-input-text>
   				<rich-input-text [formGroup]="dataForm" 
				                 label="Valor Unitário(*)" 
				                 titlee="Valor Unitário" 
   				                 maskk="0*,00" 
   				                 preserveSpecialCharacters="true"
   				                 maxchars="11" 
   				                 minValue="0" 
   				                 maxValue="99999999" 
   				                 forNumber="true"
   				                 formControlName="a2_value" 
   				                 widthPerc="29" 
   				                 ngDefaultControl>
   				</rich-input-text> 
   				<rich-input-select label="Unidade Medida (*)" 
   				                   titlee="U. M." 
   				                   [objects]="units" 
                                   formControlName="a3_un" 
                                   widthPerc="19" 
                                   ngDefaultControl>
                </rich-input-select>
				<div class="clear"></div>
			</div> 
			<form-action [validationMessages]="validationMessages" 
			             [processValidation]="processValidation" 
			             (cancelDataEmitter)="cancelData()">
			</form-action>
		</form>
	</section>
</ng-template>

<ng-template #listObjects>
	<section aria-label="lista dos Custo Fixos">
		<table class="table" *ngIf="objects as listOfObject" mdbTable> 
			<thead class="black white-text">
				<tr>
					<th scope="col" style="width: auto;" 
					    title="Identifica&ccedil;&atilde;o" 
					    aria-label="Identifica&ccedil;&atilde;o">
						Identifica&ccedil;&atilde;o
					</th>
					<th scope="col" style="width: 8rem;" 
					    title="Valor Unitário" 
					    aria-label="Valor Unitário">
						Valor Unitário
					</th>
					<th scope="col" style="width: 4rem;" 
					    title="Unidade Medida" 
					    aria-label="Unidade Medida">
						U.M.
					</th>
					<th scope="col" style="width: 7em;" 
					    *ngIf="!auditingExclusions">A&ccedil;&otilde;es</th>
					<th scope="col" style="width: 5em;" 
					    *ngIf="auditingExclusions">A&ccedil;&otilde;es</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol *ngFor="let supply of objects; trackBy: trackById">
					<td class="text" [innerHtml]="supply.a1_name"></td>
					<td class="number" [innerHtml]="supply.a2_valueLabel"></td>
					<td class="number" [innerHtml]="supply.a3_un"></td>
					<td class="actions">
						<div class="buttons">
							<edit-delete-action [auditingExclusions]="auditingExclusions" 
							                    [object]="supply" 
							                    [logged]="logged"
							                    [noAction]="false" 
							                    (editObjectEmitter)="editObject($event)"
							                    [objectDetail]="objectDetail" 
							                    (showObjectEmitter)="showObject($event)"
							                    [objectDeleteConfirmation]="objectDeleteConfirmation" 
							                    (deleteObjectEmitter)="deleteObject($event)"
							                    [objectUnDeleteConfirmation]="objectUnDeleteConfirmation" 
							                    (unDeleteObjectEmitter)="unDeleteObject($event)">
							</edit-delete-action>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="navigationBottom">
						<table-navigator [pages]="pages" 
						                 [selectedPage]="selectedPage" 
						                 [previousPageDisabled]="previousPageDisabled" 
						                 [nextPageDisabled]="nextPageDisabled" 
						                 [rowsPerPage]="rowsPerPage" 
						                 [totalPages]="totalPages" 
						                 [totalRows]="totalRows"
						                 (previousPageEmitter)="previousPage()" 
						                 (setPageEmitter)="setPage($event)"
						                 (nextPageEmitter)="nextPage()">
						</table-navigator>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</ng-template>

<ng-template #selectedObjectTemplate>
	<tr>
		<th scope="row" class="text" style="width: 12em;"
 		    title="Identifica&ccedil;&atilde;o"
 		    aria-label="Identifica&ccedil;&atilde;o">
 			Identifica&ccedil;&atilde;o:
 		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a1_name"></td>
	</tr>
	<tr>
		<th scope="row" class="text"
		    title="Valor Unitário"
		    aria-label="Valor Unitário">
			Valor Unitário:
		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a2_valueLabel"></td>
	</tr>
	<tr>
		<th scope="row" 
		    class="text"
		    title="Unidade Medida"
		    aria-label="Unidade Medida">
			Unidade Medida:
		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a3_un"></td>
	</tr>
	
</ng-template>

<ng-template #objectDetail let-modal>
	<delete-confirmation label="do Custo Fixo" 
	                     [selectedObject]="selectedObject" 
	                     info="true" [templateOutlet]="selectedObjectTemplate" 
	                     (cancelDataEmitter)="showObject()">
	</delete-confirmation>
</ng-template>

<ng-template #objectDeleteConfirmation let-modal>
	<delete-confirmation label="Custo Fixo" 
	                     [selectedObject]="selectedObject" 
	                     [auditingExclusions]="auditingExclusions" 
	                     [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>

<ng-template #objectUnDeleteConfirmation let-modal>
	<delete-confirmation label="Custo Fixo" 
	                     [selectedObject]="selectedObject" 
	                     redo="true" [auditingExclusions]="auditingExclusions" 
	                     [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmUnDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>