<form-toolbar [title]="title" [editing]="editing" [searchForm]="searchForm" 
			  (onSearchFormSubmitEmitter)="onSearchFormSubmit()" (listDataEmitter)="listData()"
			  (listDataNoCacheEmitter)="listDataNoCache()"
			  [auditingExclusions]="auditingExclusions"
			  [enabledAuditList]="['admin_master','admin','system_auditor'].includes(logged.category)"
	          (auditListEmitter)="auditList()" (normalListEmitter)="normalList()"
	          [disabledAddNew]="false"
	          (addObjectEmitter)="addObject()">
</form-toolbar>

<ng-template [ngIf]="editing" [ngIfElse]="listObjects">
	<section aria-label="cadastro e alteracao de Produtos" class="dataForm"> 
		<rich-tab-bar [objects]="tabObjects" 
		              [selectedTab]="tab" 
		              (setTabEmitter)="setTab($event)">
		</rich-tab-bar>
		<form [formGroup]="dataForm" (ngSubmit)="onObjectFormSubmit()">   	
			<div class="{{ tab == 0 ? '' : 'none' }}">	
				<rich-input-text [formGroup]="dataForm" 
				                 label="Identifica&ccedil;&atilde;o (*)" 
				                 titlee="Identifica&ccedil;&atilde;o"
				                 maxchars="250"
				                 formControlName="a2_name" 
				                 widthPerc="100" 
				                 placeholderr="" 
				                 ngDefaultControl>
				</rich-input-text>
                <rich-filter-selector id="selectOneCategory" 
                                      label="Categoria do Produto(*)" 
                                      emptyLabel="Selecione"
			                          [selectedObject]="selectedCategory" 
			                          [objects]="categories" 
			                          [onlySelect]="true"
			                          (valueChangedEmitter)="setSelectedCategory($event)" >
				</rich-filter-selector>
				<rich-input-text [formGroup]="dataForm" 
				                 label="Disponibilidade (*)" 
				                 titlee="Disponibilidade" 
            	                 maxchars="10" 
            	                 minValue="0" 
            	                 maxValue="4294967295" 
            	                 forNumber="true"
            	                 formControlName="a8_disponibility" 
            	                 widthPerc="33" 
            	                 ngDefaultControl>
                </rich-input-text>
                <rich-input-text [formGroup]="dataForm" 
				                 label="Tempo de Entrega (dias) (*)" 
				                 titlee="Tempo de Entrega (dias)" 
            	                 maxchars="2" 
            	                 minValue="0" 
            	                 maxValue="99" 
            	                 forNumber="true"
            	                 formControlName="a9_deliverytime" 
            	                 widthPerc="33" 
            	                 ngDefaultControl>
                </rich-input-text>
            	<rich-input-text [formGroup]="dataForm" 
            	                 label="Preço de Venda (*)" 
            	                 titlee="Preço de Venda" 
            	                 maxchars="11" 
            	                 minValue="0"
            	                 maxValue="99999999" 
            	                 forNumber="true"
            	                 maskk="0*,00"
            	                 preserveSpecialCharacters="true"
            	                 formControlName="a10_sellprice" 
            	                 widthPerc="33" 
            	                 ngDefaultControl>
                </rich-input-text>
				<div class="clear"></div>
			</div> 
			<div class="{{ tab == 1 ? '' : 'none' }}">
				<rich-editor [formGroup]="dataForm" 
				             formControlName="a3_description" 
				             ngDefaultControl>
				</rich-editor>
			</div>
			<div class="{{ tab == 2 ? '' : 'none' }}">
				<rich-image-selector id="selectImage" 
				                     label="Imagem Para o Produto (*)" 
				                     emptyLabel="Selecione" 
					                 [selectedObject]="selectedImage" [objects]="images" 
					                 [onlySelect]="true"
					                 (valueChangedEmitter)="setSelectedImage($event)">
				</rich-image-selector>
				<div class="clear"></div>
			</div>
			<form-action [validationMessages]="validationMessages" 
			             [processValidation]="processValidation" 
			             (cancelDataEmitter)="cancelData()">
			</form-action>
		</form>
	</section>
</ng-template>

<ng-template #listObjects>
	<section aria-label="lista dos Produtos">
		<table class="table" *ngIf="objects as listOfObject" mdbTable> 
			<thead class="black white-text">
				<tr>
					<th scope="col" style="width: auto;" 
					    title="Identifica&ccedil;&atilde;o" 
					    aria-label="Identifica&ccedil;&atilde;o">
						Identifica&ccedil;&atilde;o
					</th>
					<th scope="col" style="width: 10rem;" 
					    title="Categoria" 
					    aria-label="Categoria">
						Categoria
					</th>
					<th scope="col" style="width: 9em;" 
					    *ngIf="!auditingExclusions">A&ccedil;&otilde;es</th>
					<th scope="col" style="width: 5em;" 
					    *ngIf="auditingExclusions">A&ccedil;&otilde;es</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol *ngFor="let product of objects; trackBy: trackById">
					<td class="text" [innerHtml]="product.a2_name"></td>
					<td class="text" [innerHtml]="product.a7_categoryname"></td>
					<td class="actions">
						<div class="buttons">
							<edit-delete-action [auditingExclusions]="auditingExclusions" 
							                    [object]="product" [logged]="logged"
							                    [noAction]="false" 
							                    (editObjectEmitter)="editObject($event)"
							                    [objectDetail]="objectDetail" 
							                    (showObjectEmitter)="showObject($event)"
							                    [objectDeleteConfirmation]="objectDeleteConfirmation" 
							                    (deleteObjectEmitter)="deleteObject($event)"
							                    [objectUnDeleteConfirmation]="objectUnDeleteConfirmation" 
							                    (unDeleteObjectEmitter)="unDeleteObject($event)">
							</edit-delete-action>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="navigationBottom">
						<table-navigator [pages]="pages" [selectedPage]="selectedPage" 
						                 [previousPageDisabled]="previousPageDisabled" 
						                 [nextPageDisabled]="nextPageDisabled" 
						                 [rowsPerPage]="rowsPerPage" [totalPages]="totalPages" 
						                 [totalRows]="totalRows"
						                 (previousPageEmitter)="previousPage()" 
						                 (setPageEmitter)="setPage($event)"
						                 (nextPageEmitter)="nextPage()">
						</table-navigator>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</ng-template>

<ng-template #selectedObjectTemplate>
	<tr>
		<th scope="row" class="text" style="width: 7em;"
		    title="Identifica&ccedil;&atilde;o"
		    aria-label="Identifica&ccedil;&atilde;o">
			Identifica&ccedil;&atilde;o:
		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a2_name"></td>
	</tr>
	<tr>
		<th scope="row" class="text"
 		    title="Categoria"
 		    aria-label="Categoria">
 			Categoria:
 		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a7_categoryname">
		</td>
	</tr>
	<tr>
		<th scope="row" class="text"
		    title="Descri&ccedil;&atilde;o"
		    aria-label="Descri&ccedil;&atilde;o">
			Descri&ccedil;&atilde;o:
		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a3_description"></td>
	</tr>
	<tr>
		<td colspan="2" style="padding: 0;" class="noBorderRight">
			<img id="selectedObjectLink"
			     src=""
			     alt="imagem do produto"
			     style="width: 100%; height: 20em;" />
		</td>
	</tr>
</ng-template>

<ng-template #objectDetail let-modal>
	<delete-confirmation label="do Produto" 
	                     [selectedObject]="selectedObject" 
	                     info="true" [templateOutlet]="selectedObjectTemplate" 
	                     (cancelDataEmitter)="showObject()">
	</delete-confirmation>
</ng-template>

<ng-template #objectDeleteConfirmation let-modal>
	<delete-confirmation label="Produto" 
	                     [selectedObject]="selectedObject" 
	                     [auditingExclusions]="auditingExclusions" 
	                     [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>

<ng-template #objectUnDeleteConfirmation let-modal>
	<delete-confirmation label="Produto" 
	                     [selectedObject]="selectedObject" 
	                     redo="true" [auditingExclusions]="auditingExclusions" 
	                     [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmUnDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>