<ng-template #creditsContent>
	<div class="field">
		<strong>Desenvolvido por:</strong>
	</div>
	<div class="field clear" style="margin-left: .8em;">
		{{ author }}
	</div>
	<div class="field clear" 
	     *ngIf="null!=text && text.trim() != ''">
		<div class="field clear" 
		     style="margin-left: 1.6em;" 
		     *ngFor="let word of text.split('|')">
	     	<div *ngIf="word.trim() != ''">
	     		<em>{{ word }}</em>
	     	</div>
	    </div>
	</div>
	<div *ngIf="sites.trim() != ''">
		<div class="field clear">
			<strong>Sites do autor:</strong>
		</div>
		<div class="field clear" 
		     style="margin-left: .8em;" 
		     *ngFor="let site of sites.split(',')">
			{{ site.split('|')[0].trim() }}:&nbsp;&nbsp;
			<a href="{{ site.split('|')[1].trim() }}" 
			   style="text-decoration: underline;"
			   target="_blank">
			   {{ site.split('|')[1].trim() }}
			</a>
		</div>
	</div>
	<div class="field clear">
		<strong>Back End Powered By:</strong>
	</div>
	<div class="field clear" style="margin-left: .8em;">
		Elixir / Erlang / OTP
	</div>
	<div class="field clear">
		<strong>Front End Powered By:</strong>
	</div>
	<div class="field clear" style="margin-left: .8em;">
		Angular 9+
	</div>
	<div class="clear"></div>
	<div *ngIf="null != thirdParts">
		<div class="field clear">
			<strong>Third Parts:</strong>
		</div>
		<div class="field clear" 
		     style="margin-left: .8em;" 
		     *ngFor="let thirdPart of thirdParts.split(',')">
			{{ thirdPart.split('|')[0].trim() }}:&nbsp;&nbsp;
			<a href="{{ thirdPart.split('|')[1].trim() }}" 
			   style="text-decoration: underline;"
			   target="_blank">
			   {{ thirdPart.split('|')[1].trim() }}
			</a>
		</div>
	</div>
	<div class="clear"></div>
</ng-template>

<div class="header credits" 
     style="margin: 1.5em 0; padding: .4em .75em; font-size: .7em; height: auto;" 
     *ngIf="render && fitMode">
    <ng-template [ngTemplateOutlet]="creditsContent"></ng-template>
</div>

<div class="header credits" 
     style="margin: 1.5em 0; padding: .4em .75em; font-size: .9em; height: auto;" 
     *ngIf="render && !fitMode">
    <ng-template [ngTemplateOutlet]="creditsContent"></ng-template>
</div>














